<div>
    <!-- admin details -->
    <div class="profile">
        <img src="https://cdn3.iconfinder.com/data/icons/user-group-black/100/user-process-512.png" alt="no image">
        <h3>Admin</h3>
        <h4>Admin123@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>

    <!-- pages -->
    <h2>pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="Employee">Employee</a>
        <a routerLink="Gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>

    <!-- tools -->
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="Contact"><mat-icon>contacts</mat-icon>Contact</a>
        <a routerLink="Lead"><mat-icon>leaderboard</mat-icon>Leads</a>
    </div>
</div>